:root{
    --bgimgends : none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}
.html,body{
 display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #b2bcc5;
    overflow: hidden;
    animation: visible 2s  forwards;
}



@keyframes visible {
  from{
    opacity: 0;

  }
  to{opacity: 1;}
}

.maincontent{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    
  transform-style: preserve-3d;
  perspective: 1000px;
  z-index:4;
visibility: hidden;
  
}
.maincontent .block{
  position: relative;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background: var(--bgimgends);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
 
  z-index: 4;
  transform-style: preserve-3d;
  opacity: 0.7;
transition:  opacity 2s ease-in;
  animation: block 1s 4.5s forwards;

  
}

@keyframes block {
    from{
        border-radius: 50%;
        opacity: 0.7;
    }
    to{
        border-radius: 0%;
        opacity: 1;
    }
}



.bgblur {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    backdrop-filter: blur(3rem);
    z-index: 2;
}


.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 2vw;
    gap: 2vw;
}


.drop {


    flex: 0 0 clamp(100px, 20vw, 200vw);

    aspect-ratio: 1 / 1;

    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */


    border: 1px solid rgba(255, 255, 255, 0.3);
    ;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow:
        inset 20px 20px 20px rgba(0, 0, 0, 0.05),
        25px 35px 20px rgba(0, 0, 0, 0.05),
        25px 30px 30px rgba(0, 0, 0, 0.05),
        inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 52% 48% 33% 67% / 39% 44% 56% 61%;
    animation: bubble 5s infinite ease-in-out;
font-size: clamp(1vh,2vh,3vh);
font-family: "Edu VIC WA NT Hand Pre", cursive;
font-weight: bolder;

}

.drop:nth-child(1),
.drop:nth-child(2),
.drop:nth-child(3),
.drop:nth-child(4) {
    margin: 10px;
}

@keyframes bubble {
    0% {
        border-radius: 52% 48% 33% 67% / 39% 44% 56% 61%;
    }

    10% {
        border-radius: 74% 26% 55% 45% / 38% 52% 48% 62%;
    }

    30% {
        border-radius: 74% 26% 68% 32% / 29% 58% 42% 71%;
    }

    60% {
        border-radius: 48% 52% 55% 45% / 47% 49% 51% 53%;
    }

    80% {
        border-radius: 48% 52% 51% 49% / 27% 34% 66% 73%;
    }

    100% {
        border-radius: 52% 48% 33% 67% / 38% 45% 55% 62%;
    }
}

.drophover:hover {
    animation-play-state: paused;
scale: 1.5;
    z-index: 3;
    animation: hoverbubble 1s forwards;
    border-radius: 50%
}
.drop:active{
animation: bubble 1s  ease-in-out forwards;
}
.drop:active::after {
  animation: none !important;
  border-radius: 50% !important;
}
@media only screen and (max-width: 1000px) {
 .container{
    
      display: block;
    flex-wrap: wrap;
    
    justify-content: center;

    align-items: center;
    width: 100%;
    max-width: 22vh;
    padding: 2vw;
    gap: 2vw;
    

 }

 
.bgblur {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    backdrop-filter: blur(2rem);
    z-index: 2;
}
}